version: "3"
services:
  linked_data_server:
    image: ghcr.io/zazuko/trifid
    ports:
      - "3049:8080"
    environment:
      SPARQL_ENDPOINT_URL: "http://sparql_endpoint:8080/blazegraph/namespace/ALZgrafo/sparql"
      DATASET_BASE_URL: "http://dayhoff.inf.um.es:3049/data/"
  sparql_endpoint:
    image: blazegraph
    ports:
      - "3050:8080"