version: "3"

services:
  blazegraph:
    image: lyrasis/blazegraph:2.1.5
    container_name: blazegraph-alz
    ports:
      - "3049:8080"
    volumes:
      - ./blazegraph-data:/var/lib/blazegraph
    environment:
      - BLAZEGRAPH_OPTS=-Djetty.port=8080
    restart: unless-stopped